<!-- Construção da tabela a ser mostrada para os clientes -->
<p><%= @email %>, aqui estão os restaurantes cadastrados e seus produtos!</p>
<table>
  <thead>
    <tr>
      <th> Nome </th>
      <th> Endereço </th>
    </tr>
  </thead>

  <tbody>
    <% Restaurant.all.each do |r| %>
      <tr>
        <td><%= r.name %></td>
        <td><%= r.address %></td>
        <table>
          <thead>
            <tr>
              <th> Produto </th>
              <th> Valor </th>
            </tr>
          </thead>

          <tbody>
            <% r.products.each do |p| %>
              <tr>
                <td>-> <%= p.name %></td>
                <td> <%= p.value %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </tr>
    <% end %>
  </tbody>
</table>

